h1 {
  color: green;
  font-style: italic;
}

.error {
  color: red;
  border-radius: 5px;
  border: 1px solid red;
  padding: 10px;
  font-size: 20px;
  background: lightgrey;
  margin: 20px;
}

.success {
  color: green;
  border-radius: 5px;
  border: 1px solid green;
  padding: 10px;
  font-size: 20px;
  background: lightgrey;
  margin: 20px;
}
